<aside class="sidebar">
  <div class="sidebar__brand">
    <span class="sidebar__brand-mark"><img src="logo-mb.png" alt="" width="120" height="99" /></span>
    <p class="sidebar__brand-name">MaestroBank</p>
  </div>

  <nav class="sidebar__nav">
    @for (group of navGroups; track $index) {
      <div class="sidebar__group" [class.sidebar__group--highlight]="group.highlight">
        @if (group.label) {
          <p class="sidebar__group-label">
            @if (group.highlight) {
              <app-icon name="sparkles" [size]="11" />
            }
            {{ group.label | translate }}
          </p>
        }
        @for (item of group.items; track item.route) {
          <a
            class="sidebar__link"
            [routerLink]="item.route"
            routerLinkActive="sidebar__link--active"
          >
            <app-icon [name]="item.icon" [size]="19" />
            <span class="sidebar__link-label">{{ item.label | translate }}</span>
          </a>
        }
      </div>
    }
  </nav>
</aside>
